* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
}
#logo-header {
    font-size: 36px;
    color: #150433;
    font-weight: bold;
}

.menu-header {
    text-align: end;
    height: 40px;
    padding: 10px;
}

.menu-header ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu-header ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #150433;
}

.menu-header ul li a:hover {
    font-weight: bold;
}

.introduction {
    margin-top: 30px;
    text-align: center;
}
.intro {
    width: 650px;
    margin: 0 auto;
    display: block;
}

.intro h1 {
    max-width: 650px;
    font-size: 48px;
    color: #150433;
    font-weight: bold;
}

.intro p {
    max-width: 430px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    font-weight: 300;
    line-height: 1.2em;
    color: #a1a5aa; /* Cinza */
}

.button {
    background: #150433;
    color: #fff;
    padding: 13px 30px 13px 30px;
   
}

.empty-button {
    margin-left: 9px;
    width: 136px;
    height: 42px;
    border: 2px solid #f61067;
    color: #f61067;
    padding: 11px;
}

.prod {
    width: 100%;
    float: left;
    margin: 50px auto 50px auto;
    text-align: center;
}

.prod h2,
.portif h2,
.quality h2 {
    text-align: center;
    font-size: 24px;
    color: #150433;
}

.prod > p,
.portif > p {
    width: 500px;
    font-weight: 300;
    line-height: 1.2em;
    color: #a1a5aa;
    margin: 0 auto 36px auto;
    clear: both;
}

.product {
    width: 300px;
    display: inline-block;
    margin: 30px 0;
}

.product h3 {
    padding: 15px 0 15px 0;
    font-size: 18px;
    font-weight: 600;
    color: #150433;
}

.product p {
    width: 287px;
    line-height: 1.2em;
    font-size: 14px;
    font-weight: 300;
    color: #a1a5aa;
}

.portif {
    text-align: center;
    margin: 0 auto 50px auto;
}

.portif h2 {
    margin: 0 0 30px 0;
}

.portif p:nth-last-of-type(1) {
    margin: 30px auto 36px auto;
}

.qa  {
    width: 100%;
    display: flex;
}

.qa p {
    padding-left: 40px;
    padding-right: 40px;
    color: #a1a5aa;
}

.quality h2 {
    margin: 0 0 36px 0;
}


#logo-quality {
    padding-top: 50px;
    font-size: 48px;
    color: #150433;
    font-weight: bold;
}



.quality li {
    text-align: center;
    padding-top: 45px;
    margin-bottom: 40px;
    color: #a1a5aa;
}

ul + p {
    width: 610px;
    text-align: center;
    margin: 0px auto 36px auto;
    color: #a1a5aa;
}

ul h3 {
    color: #150433;
    font-weight: 600;
    margin-bottom: 6px;
}

.quality a {
    text-align: center;
}

.btn {
    text-align: center;
}


.quality::after{
    content: "";
    width: 643px;
    height: 83px;
    display: block;
    background: url("../img/linha.png") no-repeat center;
    position: absolute;
    top: 368px;
    right: 157px;
}

.citacao  {
    padding: 50px 0 40px 0px;
    text-align: center;
    color: #150433;
}

.citacao cite {
    color: #F61067;
}

footer {
    height: 400px;
    background-color: #150433;
    color: #fff;
}
