* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header {
    height: 80px;

    display: flex;
    align-items: center;
}
#logo-header {
    font-size: 36px;

    color: #150433;
    font-weight: bold;
}

.menu-header {
    text-align: end;

    height: 40px;

    padding: 10px;
}

.menu-header ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu-header ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #150433;
}

.menu-header ul li a:hover {
    font-weight: bold;
}

.introduction {
    margin-top: 60px;
    text-align: center;
}
.intro {
    width: 650px;
    margin: 0 auto;
    display: block;
}

.intro h1 {
    max-width: 650px;
    font-size: 48px;
    color: #150433;
    font-weight: bold;
    margin-bottom: 40px;
}

.intro p {
    max-width: 430px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 300;
    color: #a1a5aa; /* Cinza */
}

.button {
    background: #150433;
    color: #fff;
    padding: 13px 30px 13px 30px;
}

.empty-button {
    margin-left: 8 px;
    width: 136px;
    height: 42px;
    border: 2px solid #f61067;
    color: #f61067;
    padding: 11px;
}

.prod {
    background-color: #f61067;;
}
